ALTER TABLE IF EXISTS public.credit_cards ADD COLUMN IF NOT EXISTS identificador TEXT;
ALTER TABLE IF EXISTS public.investments ADD COLUMN IF NOT EXISTS identificador TEXT;
ALTER TABLE IF EXISTS public.metas ADD COLUMN IF NOT EXISTS identificador TEXT;
COMMENT ON COLUMN public.credit_cards.identificador IS 'ID local criado no modo Offline';
COMMENT ON COLUMN public.investments.identificador IS 'ID local criado no modo Offline';
COMMENT ON COLUMN public.metas.identificador IS 'ID local criado no modo Offline';
